tlagm@LAPTOP-PSPUJVOS[[:space:]]MINGW64[[:space:]]~/Desktop/SWAT_UnityProject/Assets[[:space:]](master)
$[[:space:]]git[[:space:]]lfs[[:space:]]track[[:space:]] filter=lfs diff=lfs merge=lfs -text
Models/Characters/Player_Dying_Model/Ch35_nonPBR.fbx filter=lfs diff=lfs merge=lfs -text
